<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./styles/style.css" />
        <link rel="stylesheet" href="./styles/font-dev.css" />
    </head>
    <body>
        <h1 class="text-3xl font-bold underline text-center">
            การบันทึกทางพยาบาล
        </h1>
        <div class="font-bold mt-2">NDX-1</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Incidunt dicta omnis atque adipisci adipisci voluptatum eos aut.</li>
                            <li>Ipsum provident quibusdam porro pariatur itaque culpa tenetur quae. Magnam architecto maxime minima at porro laudantium dolorem reprehenderit.</li>
                            <li>Vitae perspiciatis omnis. Sed cumque voluptatum esse iusto veritatis ipsum recusandae dolore facere. Cupiditate exercitationem voluptatem.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Eaque perferendis placeat inventore culpa. Nostrum perspiciatis laudantium quasi provident architecto impedit aspernatur. Quaerat harum harum.</li>
                            <li>Amet expedita vero.</li>
                            <li>Autem assumenda perspiciatis cum eligendi dicta harum error.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Dolore a dolor consequuntur culpa excepturi. Pariatur dignissimos qui eos eveniet. Quas excepturi voluptas veritatis beatae consectetur totam ab.</li>
                            <li>Facere iusto error nisi excepturi quidem eaque similique quibusdam distinctio.</li>
                            <li>Asperiores nemo ad maiores quam saepe. Optio odio quis nostrum. Quis modi rerum iusto deserunt a temporibus quo dicta et.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Qui adipisci distinctio necessitatibus ab soluta voluptatibus. Debitis nemo ducimus eius aliquid totam.</li>
                            <li>Reprehenderit magnam similique laudantium corrupti quibusdam repellat pariatur.</li>
                            <li>Itaque cupiditate nobis accusamus repudiandae labore illo error ab id. Voluptatem maxime debitis cum porro rerum quisquam quos quidem.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-2</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Similique quae consequatur non et.</li>
                            <li>Voluptates aut aliquid tempora voluptatum accusamus voluptate. Cumque vitae quibusdam. Atque iste dicta minima nihil repellat.</li>
                            <li>Cum officiis voluptate sequi non ipsum voluptate ipsam.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Est id dolores autem odio modi asperiores repellendus cum amet. Quae omnis ut nam molestiae deleniti quam. Numquam perspiciatis quae illo.</li>
                            <li>Inventore ut aliquid accusantium. Dignissimos architecto doloribus enim soluta consectetur similique numquam eaque error.</li>
                            <li>Dolore a dolor consequuntur culpa excepturi. Pariatur dignissimos qui eos eveniet. Quas excepturi voluptas veritatis beatae consectetur totam ab.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Cum officiis voluptate sequi non ipsum voluptate ipsam.</li>
                            <li>Eos alias ratione aliquid quibusdam natus officiis accusantium adipisci explicabo. Cupiditate aspernatur repudiandae dignissimos.</li>
                            <li>Accusantium soluta provident est.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Sit culpa dicta voluptates quos eaque. Accusamus cupiditate a ipsa excepturi nobis. Blanditiis voluptatibus accusamus perferendis ullam beatae voluptate accusamus aspernatur doloribus.</li>
                            <li>Modi aliquid corrupti cum a blanditiis. Amet sunt dignissimos maiores commodi corporis doloremque suscipit esse. Ea omnis consectetur provident architecto.</li>
                            <li>Modi aliquid corrupti cum a blanditiis. Amet sunt dignissimos maiores commodi corporis doloremque suscipit esse. Ea omnis consectetur provident architecto.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-3</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Nam placeat ipsa recusandae ullam.</li>
                            <li>Laboriosam repellat harum perferendis veniam cupiditate dicta ut minus quisquam. Consequatur inventore voluptas omnis accusantium illo. Laudantium repellendus fugit culpa quis accusantium commodi beatae maxime laborum.</li>
                            <li>Qui adipisci distinctio necessitatibus ab soluta voluptatibus. Debitis nemo ducimus eius aliquid totam.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Laboriosam repellat harum perferendis veniam cupiditate dicta ut minus quisquam. Consequatur inventore voluptas omnis accusantium illo. Laudantium repellendus fugit culpa quis accusantium commodi beatae maxime laborum.</li>
                            <li>Animi eaque perferendis assumenda.</li>
                            <li>Eos alias ratione aliquid quibusdam natus officiis accusantium adipisci explicabo. Cupiditate aspernatur repudiandae dignissimos.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Facilis id itaque. Labore asperiores ex rerum enim velit assumenda quaerat enim. Occaecati nulla magni sunt repudiandae veritatis libero laudantium sit.</li>
                            <li>Suscipit consectetur accusantium accusamus modi maiores architecto nemo error quas. Doloribus dolore ea repellendus quod ratione consectetur at laboriosam ipsum.</li>
                            <li>Veritatis similique ullam labore. Vero quae culpa voluptatum dolor.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Cumque dolorum eveniet placeat neque minus quod quis nihil occaecati. Officia quisquam alias commodi maiores nihil quae tempora explicabo. Mollitia alias culpa placeat officiis dolorum culpa consequatur.</li>
                            <li>Est id dolores autem odio modi asperiores repellendus cum amet. Quae omnis ut nam molestiae deleniti quam. Numquam perspiciatis quae illo.</li>
                            <li>Laboriosam repellat harum perferendis veniam cupiditate dicta ut minus quisquam. Consequatur inventore voluptas omnis accusantium illo. Laudantium repellendus fugit culpa quis accusantium commodi beatae maxime laborum.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-4</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Itaque cupiditate nobis accusamus repudiandae labore illo error ab id. Voluptatem maxime debitis cum porro rerum quisquam quos quidem.</li>
                            <li>Sapiente saepe reiciendis expedita nobis. Fuga sequi debitis laboriosam facere porro natus mollitia sit sit.</li>
                            <li>Incidunt dicta omnis atque adipisci adipisci voluptatum eos aut.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Sapiente saepe reiciendis expedita nobis. Fuga sequi debitis laboriosam facere porro natus mollitia sit sit.</li>
                            <li>Ea cumque assumenda quam quos ab. Laborum sapiente accusamus. Eos eligendi exercitationem voluptate provident.</li>
                            <li>Accusantium soluta provident est.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Quia dolorem excepturi nisi.</li>
                            <li>Cum officiis voluptate sequi non ipsum voluptate ipsam.</li>
                            <li>Eaque perferendis placeat inventore culpa. Nostrum perspiciatis laudantium quasi provident architecto impedit aspernatur. Quaerat harum harum.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Amet expedita vero.</li>
                            <li>Eaque nulla amet labore. Adipisci soluta illo minus quae.</li>
                            <li>Modi aliquid corrupti cum a blanditiis. Amet sunt dignissimos maiores commodi corporis doloremque suscipit esse. Ea omnis consectetur provident architecto.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-5</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Laboriosam repellat harum perferendis veniam cupiditate dicta ut minus quisquam. Consequatur inventore voluptas omnis accusantium illo. Laudantium repellendus fugit culpa quis accusantium commodi beatae maxime laborum.</li>
                            <li>Unde eius nulla. Distinctio officia aliquid dolores repudiandae voluptatem.</li>
                            <li>Consequuntur perspiciatis enim vitae pariatur quos sed maiores porro. Ab consequatur inventore.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Nam placeat ipsa recusandae ullam.</li>
                            <li>Nemo a illum magni. Accusantium saepe deserunt excepturi sit ipsa consequatur corporis voluptates et.</li>
                            <li>Veritatis similique ullam labore. Vero quae culpa voluptatum dolor.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Consequuntur perspiciatis enim vitae pariatur quos sed maiores porro. Ab consequatur inventore.</li>
                            <li>Dolore a dolor consequuntur culpa excepturi. Pariatur dignissimos qui eos eveniet. Quas excepturi voluptas veritatis beatae consectetur totam ab.</li>
                            <li>Consequuntur perspiciatis enim vitae pariatur quos sed maiores porro. Ab consequatur inventore.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Similique quae consequatur non et.</li>
                            <li>Mollitia aliquam in molestias. Consectetur porro tempora necessitatibus ab tempora harum perspiciatis. Impedit suscipit eveniet temporibus doloremque dolores iure ipsa culpa.</li>
                            <li>Incidunt dicta omnis atque adipisci adipisci voluptatum eos aut.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-6</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Laboriosam repellat harum perferendis veniam cupiditate dicta ut minus quisquam. Consequatur inventore voluptas omnis accusantium illo. Laudantium repellendus fugit culpa quis accusantium commodi beatae maxime laborum.</li>
                            <li>Sequi sequi temporibus magnam eius minima delectus asperiores odio harum. Ratione reprehenderit ex.</li>
                            <li>Unde eius nulla. Distinctio officia aliquid dolores repudiandae voluptatem.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Ipsum provident quibusdam porro pariatur itaque culpa tenetur quae. Magnam architecto maxime minima at porro laudantium dolorem reprehenderit.</li>
                            <li>Inventore ut aliquid accusantium. Dignissimos architecto doloribus enim soluta consectetur similique numquam eaque error.</li>
                            <li>Modi aliquid corrupti cum a blanditiis. Amet sunt dignissimos maiores commodi corporis doloremque suscipit esse. Ea omnis consectetur provident architecto.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Mollitia aliquam in molestias. Consectetur porro tempora necessitatibus ab tempora harum perspiciatis. Impedit suscipit eveniet temporibus doloremque dolores iure ipsa culpa.</li>
                            <li>Suscipit consectetur accusantium accusamus modi maiores architecto nemo error quas. Doloribus dolore ea repellendus quod ratione consectetur at laboriosam ipsum.</li>
                            <li>Dolore a dolor consequuntur culpa excepturi. Pariatur dignissimos qui eos eveniet. Quas excepturi voluptas veritatis beatae consectetur totam ab.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Voluptates aut aliquid tempora voluptatum accusamus voluptate. Cumque vitae quibusdam. Atque iste dicta minima nihil repellat.</li>
                            <li>Veritatis similique ullam labore. Vero quae culpa voluptatum dolor.</li>
                            <li>Similique quae consequatur non et.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-7</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Velit earum incidunt. Beatae dicta odio sequi nemo eveniet sint explicabo temporibus.</li>
                            <li>Ea cumque assumenda quam quos ab. Laborum sapiente accusamus. Eos eligendi exercitationem voluptate provident.</li>
                            <li>Qui adipisci distinctio necessitatibus ab soluta voluptatibus. Debitis nemo ducimus eius aliquid totam.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Eaque perferendis placeat inventore culpa. Nostrum perspiciatis laudantium quasi provident architecto impedit aspernatur. Quaerat harum harum.</li>
                            <li>Eaque nulla amet labore. Adipisci soluta illo minus quae.</li>
                            <li>Animi eaque perferendis assumenda.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Reprehenderit magnam similique laudantium corrupti quibusdam repellat pariatur.</li>
                            <li>Ea cumque assumenda quam quos ab. Laborum sapiente accusamus. Eos eligendi exercitationem voluptate provident.</li>
                            <li>Veritatis similique ullam labore. Vero quae culpa voluptatum dolor.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Fugiat quas ex ullam libero. Vitae molestiae quisquam provident ipsam dicta quaerat.</li>
                            <li>Voluptates aut aliquid tempora voluptatum accusamus voluptate. Cumque vitae quibusdam. Atque iste dicta minima nihil repellat.</li>
                            <li>Aliquam rerum alias laudantium qui veritatis omnis minima cupiditate accusantium. Pariatur perferendis similique animi. Iure et fugiat id blanditiis ad vero possimus magnam veniam.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-8</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Est id dolores autem odio modi asperiores repellendus cum amet. Quae omnis ut nam molestiae deleniti quam. Numquam perspiciatis quae illo.</li>
                            <li>Nemo a illum magni. Accusantium saepe deserunt excepturi sit ipsa consequatur corporis voluptates et.</li>
                            <li>Nam placeat ipsa recusandae ullam.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Dolore a dolor consequuntur culpa excepturi. Pariatur dignissimos qui eos eveniet. Quas excepturi voluptas veritatis beatae consectetur totam ab.</li>
                            <li>Veritatis similique ullam labore. Vero quae culpa voluptatum dolor.</li>
                            <li>Mollitia aliquam in molestias. Consectetur porro tempora necessitatibus ab tempora harum perspiciatis. Impedit suscipit eveniet temporibus doloremque dolores iure ipsa culpa.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Labore id dicta error. Quod atque illo.</li>
                            <li>Veritatis similique ullam labore. Vero quae culpa voluptatum dolor.</li>
                            <li>Similique id beatae et dolorum.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Aliquam id tenetur neque unde repellendus aperiam ratione perspiciatis. Sapiente tenetur expedita cum rem numquam reiciendis libero. Earum dolores sit consequatur soluta earum.</li>
                            <li>Accusantium soluta provident est.</li>
                            <li>Veritatis similique ullam labore. Vero quae culpa voluptatum dolor.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-9</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Modi aliquid corrupti cum a blanditiis. Amet sunt dignissimos maiores commodi corporis doloremque suscipit esse. Ea omnis consectetur provident architecto.</li>
                            <li>Cum officiis voluptate sequi non ipsum voluptate ipsam.</li>
                            <li>Suscipit consectetur accusantium accusamus modi maiores architecto nemo error quas. Doloribus dolore ea repellendus quod ratione consectetur at laboriosam ipsum.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Nam placeat ipsa recusandae ullam.</li>
                            <li>Ea cumque assumenda quam quos ab. Laborum sapiente accusamus. Eos eligendi exercitationem voluptate provident.</li>
                            <li>Dolore a dolor consequuntur culpa excepturi. Pariatur dignissimos qui eos eveniet. Quas excepturi voluptas veritatis beatae consectetur totam ab.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Mollitia aliquam in molestias. Consectetur porro tempora necessitatibus ab tempora harum perspiciatis. Impedit suscipit eveniet temporibus doloremque dolores iure ipsa culpa.</li>
                            <li>Facere iusto error nisi excepturi quidem eaque similique quibusdam distinctio.</li>
                            <li>Fugiat quas ex ullam libero. Vitae molestiae quisquam provident ipsam dicta quaerat.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Blanditiis perspiciatis corrupti neque excepturi provident temporibus deleniti provident mollitia. Impedit quo necessitatibus. Sunt velit atque perspiciatis odit accusamus.</li>
                            <li>Laboriosam repellat harum perferendis veniam cupiditate dicta ut minus quisquam. Consequatur inventore voluptas omnis accusantium illo. Laudantium repellendus fugit culpa quis accusantium commodi beatae maxime laborum.</li>
                            <li>Asperiores nemo ad maiores quam saepe. Optio odio quis nostrum. Quis modi rerum iusto deserunt a temporibus quo dicta et.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-10</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Fugiat quas ex ullam libero. Vitae molestiae quisquam provident ipsam dicta quaerat.</li>
                            <li>Similique id beatae et dolorum.</li>
                            <li>Mollitia aliquam in molestias. Consectetur porro tempora necessitatibus ab tempora harum perspiciatis. Impedit suscipit eveniet temporibus doloremque dolores iure ipsa culpa.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Cumque dolorum eveniet placeat neque minus quod quis nihil occaecati. Officia quisquam alias commodi maiores nihil quae tempora explicabo. Mollitia alias culpa placeat officiis dolorum culpa consequatur.</li>
                            <li>Reprehenderit magnam similique laudantium corrupti quibusdam repellat pariatur.</li>
                            <li>Cum officiis voluptate sequi non ipsum voluptate ipsam.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Sit culpa dicta voluptates quos eaque. Accusamus cupiditate a ipsa excepturi nobis. Blanditiis voluptatibus accusamus perferendis ullam beatae voluptate accusamus aspernatur doloribus.</li>
                            <li>Fugiat quas ex ullam libero. Vitae molestiae quisquam provident ipsam dicta quaerat.</li>
                            <li>Tempora ad adipisci assumenda enim.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Modi aliquid corrupti cum a blanditiis. Amet sunt dignissimos maiores commodi corporis doloremque suscipit esse. Ea omnis consectetur provident architecto.</li>
                            <li>Veritatis similique ullam labore. Vero quae culpa voluptatum dolor.</li>
                            <li>Quia dolorem excepturi nisi.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
