<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./styles/style.css" />
        <link rel="stylesheet" href="./styles/font-dev.css" />
    </head>
    <body>
        <h1 class="text-3xl font-bold underline text-center">
            การบันทึกทางพยาบาล
        </h1>
        <div class="font-bold mt-2">NDX-1</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Expedita ex ratione dolores expedita hic architecto quos nostrum ea.</li>
                            <li>Commodi iusto doloremque impedit expedita omnis atque vitae vel. Necessitatibus odio assumenda eos. Sapiente rerum mollitia.</li>
                            <li>At quis velit odio amet.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Cum molestiae quidem iure nesciunt saepe quis odio officia.</li>
                            <li>Voluptates provident dolorum pariatur ducimus esse impedit debitis.</li>
                            <li>Quia perspiciatis temporibus ipsam earum. Nesciunt et odio nam voluptatem amet ea. Nobis totam incidunt porro consequatur molestias hic commodi accusantium.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Ad aspernatur eveniet ad maiores in veniam debitis. Similique qui iure nisi aliquam debitis consequatur deleniti adipisci.</li>
                            <li>Commodi iusto doloremque impedit expedita omnis atque vitae vel. Necessitatibus odio assumenda eos. Sapiente rerum mollitia.</li>
                            <li>Quidem excepturi minima amet quisquam architecto eveniet pariatur eligendi. Quam occaecati neque aperiam ducimus molestias vitae nisi quaerat aspernatur. Ad quibusdam quae aut autem.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Dolorem nobis inventore perferendis.</li>
                            <li>Qui consequuntur animi eius accusantium commodi.</li>
                            <li>Quas eos dolorum maxime eius commodi aspernatur ipsa quasi. Voluptate voluptates aliquam. Quo voluptas enim impedit maxime eum voluptatum dolores aperiam quaerat.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-2</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Fugiat exercitationem ab quidem blanditiis assumenda aliquam aspernatur. Necessitatibus ratione impedit consectetur provident.</li>
                            <li>Officia enim libero quis fugiat. Consequatur explicabo adipisci aliquam unde distinctio.</li>
                            <li>Recusandae debitis aspernatur minima ad sequi ut quam.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Voluptates provident dolorum pariatur ducimus esse impedit debitis.</li>
                            <li>Tenetur facilis distinctio in dolor quibusdam quod consectetur sunt.</li>
                            <li>Minus error aut enim doloremque tempore modi. Distinctio doloribus molestiae nisi accusantium velit aut minima.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Dolorem perspiciatis harum in laborum iste quia non animi omnis.</li>
                            <li>Cum ea enim perferendis rerum dicta quam nobis recusandae. Corporis tempora optio quisquam tempora. Esse deserunt dolore maiores incidunt magnam est corrupti repudiandae.</li>
                            <li>Minus ab voluptas culpa nihil nesciunt. Quam eum cumque est rerum beatae asperiores corrupti.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Vero laboriosam debitis doloribus consequatur debitis laboriosam. Quasi minima libero laudantium magnam id modi sit.</li>
                            <li>Aperiam fugit doloribus doloribus aspernatur explicabo.</li>
                            <li>Blanditiis repellendus eligendi. Nulla quod minus veritatis quibusdam repellendus similique suscipit. Architecto laboriosam inventore.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-3</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Vel omnis facere quas consequatur eligendi.</li>
                            <li>Recusandae debitis aspernatur minima ad sequi ut quam.</li>
                            <li>Aperiam fugit doloribus doloribus aspernatur explicabo.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Aut magni iure assumenda adipisci voluptates modi incidunt. Veritatis corrupti quod non tenetur quas.</li>
                            <li>Placeat in deleniti aliquid reiciendis minus qui nihil ipsam.</li>
                            <li>Sequi ducimus asperiores aliquam et ut.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Quia perspiciatis temporibus ipsam earum. Nesciunt et odio nam voluptatem amet ea. Nobis totam incidunt porro consequatur molestias hic commodi accusantium.</li>
                            <li>Excepturi asperiores possimus explicabo quos.</li>
                            <li>Laudantium odit aut veritatis id. Veniam minima voluptate possimus quas.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Qui consequuntur animi eius accusantium commodi.</li>
                            <li>Amet saepe doloremque quam impedit. In placeat quaerat tempore ut velit.</li>
                            <li>Nisi totam molestiae ipsa minima.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-4</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Tempore saepe repellendus architecto quibusdam dicta. Nihil aliquid ad enim magnam delectus laboriosam provident debitis quod. Ratione adipisci eius assumenda eligendi iusto repellat.</li>
                            <li>Consectetur sapiente praesentium sit nobis accusamus quasi natus deleniti.</li>
                            <li>Fugiat exercitationem ab quidem blanditiis assumenda aliquam aspernatur. Necessitatibus ratione impedit consectetur provident.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Recusandae debitis aspernatur minima ad sequi ut quam.</li>
                            <li>Minus error aut enim doloremque tempore modi. Distinctio doloribus molestiae nisi accusantium velit aut minima.</li>
                            <li>Voluptates provident dolorum pariatur ducimus esse impedit debitis.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Debitis placeat qui doloremque culpa ducimus.</li>
                            <li>Officia error enim debitis voluptatibus facilis numquam optio quisquam. Doloremque corporis molestias laudantium eos deleniti laudantium expedita aut sequi. Reiciendis suscipit autem.</li>
                            <li>At quis velit odio amet.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Expedita ex ratione dolores expedita hic architecto quos nostrum ea.</li>
                            <li>Deleniti deserunt asperiores accusantium eligendi totam modi.</li>
                            <li>Qui consequuntur animi eius accusantium commodi.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-5</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Minus error aut enim doloremque tempore modi. Distinctio doloribus molestiae nisi accusantium velit aut minima.</li>
                            <li>Earum velit possimus eligendi. Omnis cum amet officiis eveniet nesciunt qui. Beatae dignissimos quaerat velit.</li>
                            <li>Laudantium odit aut veritatis id. Veniam minima voluptate possimus quas.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Recusandae debitis aspernatur minima ad sequi ut quam.</li>
                            <li>Id facilis a animi modi modi. Ipsam repudiandae dolor sequi nihil magnam cumque mollitia. Eius eos modi dolorum possimus molestiae minus.</li>
                            <li>Officia error enim debitis voluptatibus facilis numquam optio quisquam. Doloremque corporis molestias laudantium eos deleniti laudantium expedita aut sequi. Reiciendis suscipit autem.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Qui consequuntur animi eius accusantium commodi.</li>
                            <li>Animi distinctio magni facilis. Magni tempore excepturi.</li>
                            <li>Quia perspiciatis temporibus ipsam earum. Nesciunt et odio nam voluptatem amet ea. Nobis totam incidunt porro consequatur molestias hic commodi accusantium.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Debitis placeat qui doloremque culpa ducimus.</li>
                            <li>Sequi ducimus asperiores aliquam et ut.</li>
                            <li>Expedita ex ratione dolores expedita hic architecto quos nostrum ea.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-6</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Officia error enim debitis voluptatibus facilis numquam optio quisquam. Doloremque corporis molestias laudantium eos deleniti laudantium expedita aut sequi. Reiciendis suscipit autem.</li>
                            <li>Tenetur facilis distinctio in dolor quibusdam quod consectetur sunt.</li>
                            <li>Impedit omnis dignissimos.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Vero laboriosam debitis doloribus consequatur debitis laboriosam. Quasi minima libero laudantium magnam id modi sit.</li>
                            <li>Quia perspiciatis temporibus ipsam earum. Nesciunt et odio nam voluptatem amet ea. Nobis totam incidunt porro consequatur molestias hic commodi accusantium.</li>
                            <li>Minus error aut enim doloremque tempore modi. Distinctio doloribus molestiae nisi accusantium velit aut minima.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Et enim quaerat beatae.</li>
                            <li>Voluptates provident dolorum pariatur ducimus esse impedit debitis.</li>
                            <li>Amet saepe doloremque quam impedit. In placeat quaerat tempore ut velit.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Laudantium odit aut veritatis id. Veniam minima voluptate possimus quas.</li>
                            <li>Voluptates provident dolorum pariatur ducimus esse impedit debitis.</li>
                            <li>Fugiat exercitationem ab quidem blanditiis assumenda aliquam aspernatur. Necessitatibus ratione impedit consectetur provident.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-7</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Ad aspernatur eveniet ad maiores in veniam debitis. Similique qui iure nisi aliquam debitis consequatur deleniti adipisci.</li>
                            <li>Officia error enim debitis voluptatibus facilis numquam optio quisquam. Doloremque corporis molestias laudantium eos deleniti laudantium expedita aut sequi. Reiciendis suscipit autem.</li>
                            <li>Impedit omnis dignissimos.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Et qui magni maxime iste placeat illum dolore iusto aliquid. Ipsam consequatur quidem quod sequi neque minima similique placeat.</li>
                            <li>Dolorem perspiciatis harum in laborum iste quia non animi omnis.</li>
                            <li>Dolorem nobis inventore perferendis.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Quae vel voluptates error suscipit ab tempora quidem voluptatum. Quidem laboriosam ipsa mollitia dolor quod nihil magni. Corrupti et quidem minus tempora totam vero ratione maxime ab.</li>
                            <li>Tenetur facilis distinctio in dolor quibusdam quod consectetur sunt.</li>
                            <li>Sed rerum quasi nam pariatur. Harum voluptatem quia.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Earum velit possimus eligendi. Omnis cum amet officiis eveniet nesciunt qui. Beatae dignissimos quaerat velit.</li>
                            <li>Blanditiis repellendus eligendi. Nulla quod minus veritatis quibusdam repellendus similique suscipit. Architecto laboriosam inventore.</li>
                            <li>Excepturi asperiores possimus explicabo quos.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-8</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Et qui magni maxime iste placeat illum dolore iusto aliquid. Ipsam consequatur quidem quod sequi neque minima similique placeat.</li>
                            <li>Tenetur facilis distinctio in dolor quibusdam quod consectetur sunt.</li>
                            <li>Recusandae debitis aspernatur minima ad sequi ut quam.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Fugiat exercitationem ab quidem blanditiis assumenda aliquam aspernatur. Necessitatibus ratione impedit consectetur provident.</li>
                            <li>Vel omnis facere quas consequatur eligendi.</li>
                            <li>Tenetur facilis distinctio in dolor quibusdam quod consectetur sunt.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Ea et quibusdam tempore iste facilis repellendus deleniti alias eveniet. Assumenda illum reiciendis autem.</li>
                            <li>Sed rerum quasi nam pariatur. Harum voluptatem quia.</li>
                            <li>Aperiam fugit doloribus doloribus aspernatur explicabo.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Tempore saepe repellendus architecto quibusdam dicta. Nihil aliquid ad enim magnam delectus laboriosam provident debitis quod. Ratione adipisci eius assumenda eligendi iusto repellat.</li>
                            <li>Quidem excepturi minima amet quisquam architecto eveniet pariatur eligendi. Quam occaecati neque aperiam ducimus molestias vitae nisi quaerat aspernatur. Ad quibusdam quae aut autem.</li>
                            <li>Tempora at esse velit itaque repellat alias. Recusandae saepe est earum odio voluptates. Vitae occaecati autem.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-9</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Dolorem nobis inventore perferendis.</li>
                            <li>Minus ab voluptas culpa nihil nesciunt. Quam eum cumque est rerum beatae asperiores corrupti.</li>
                            <li>Cum molestiae quidem iure nesciunt saepe quis odio officia.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Tempora at esse velit itaque repellat alias. Recusandae saepe est earum odio voluptates. Vitae occaecati autem.</li>
                            <li>Tempore saepe repellendus architecto quibusdam dicta. Nihil aliquid ad enim magnam delectus laboriosam provident debitis quod. Ratione adipisci eius assumenda eligendi iusto repellat.</li>
                            <li>At quis velit odio amet.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Recusandae debitis aspernatur minima ad sequi ut quam.</li>
                            <li>Animi distinctio magni facilis. Magni tempore excepturi.</li>
                            <li>Vel omnis facere quas consequatur eligendi.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Sed rerum quasi nam pariatur. Harum voluptatem quia.</li>
                            <li>Fugiat exercitationem ab quidem blanditiis assumenda aliquam aspernatur. Necessitatibus ratione impedit consectetur provident.</li>
                            <li>Cum molestiae quidem iure nesciunt saepe quis odio officia.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold mt-2">NDX-10</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody
                class="align-top divide-y divide-gray-200 dark:divide-gray-700"
            >
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Vero quod velit perferendis atque a vel.</li>
                            <li>Hic hic minima ipsum.</li>
                            <li>Sed rerum quasi nam pariatur. Harum voluptatem quia.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Fugiat exercitationem ab quidem blanditiis assumenda aliquam aspernatur. Necessitatibus ratione impedit consectetur provident.</li>
                            <li>Vel omnis facere quas consequatur eligendi.</li>
                            <li>Cum molestiae quidem iure nesciunt saepe quis odio officia.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Animi distinctio magni facilis. Magni tempore excepturi.</li>
                            <li>Debitis placeat qui doloremque culpa ducimus.</li>
                            <li>Vel omnis facere quas consequatur eligendi.</li>
                        </ul>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <ul class="list-disc">
                            <li>Aut magni iure assumenda adipisci voluptates modi incidunt. Veritatis corrupti quod non tenetur quas.</li>
                            <li>At quis velit odio amet.</li>
                            <li>Tenetur facilis distinctio in dolor quibusdam quod consectetur sunt.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
