<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./styles/style.css" />
        <link rel="stylesheet" href="./styles/font-dev.css" />
    </head>
    <body>
        <h1 class="text-3xl font-bold underline">การบันทึกทางพยาบาล</h1>
        <div class="font-bold">NDX-1</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div class="mt-2">Odio culpa praesentium accusamus enim.</div>
                        <div class="mt-2">Similique dolor id iusto inventore recusandae placeat error tempore. Accusantium molestias doloremque ad impedit accusantium. Quasi optio doloremque corporis animi itaque.</div>
                        <div class="mt-2">Odio culpa praesentium accusamus enim.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Officia rem iure totam ex consequatur. Delectus repellat totam totam dolor occaecati sequi delectus cupiditate. Autem at nesciunt earum repellendus.</div>
                        <div>Quaerat voluptatem culpa minus quae. Aut nam a nobis quaerat tenetur libero assumenda deserunt.</div>
                        <div>Nesciunt harum blanditiis consequatur debitis. Tenetur repudiandae optio dicta excepturi esse. Autem porro vero nulla.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Deleniti unde necessitatibus unde. Fugit maxime asperiores ullam.</div>
                        <div>Facere error ut cum quos. Et autem suscipit accusantium.</div>
                        <div>Officia rem iure totam ex consequatur. Delectus repellat totam totam dolor occaecati sequi delectus cupiditate. Autem at nesciunt earum repellendus.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Facere eveniet nemo dolores totam sequi itaque. Dolores quibusdam odio aut nam saepe aspernatur quisquam.</div>
                        <div>Reprehenderit accusantium consequuntur porro pariatur nulla aliquid necessitatibus ut.</div>
                        <div>Molestiae veniam nemo ullam quos. Illo asperiores voluptas enim. Repellendus est est accusantium numquam repellendus ipsam consequuntur iusto alias.</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold">NDX-2</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div class="mt-2">Necessitatibus nihil asperiores molestias deserunt doloremque modi numquam. Consectetur ducimus libero asperiores expedita distinctio. Occaecati eveniet commodi aspernatur deleniti deserunt.</div>
                        <div class="mt-2">Nesciunt harum blanditiis consequatur debitis. Tenetur repudiandae optio dicta excepturi esse. Autem porro vero nulla.</div>
                        <div class="mt-2">Ipsam perferendis excepturi ipsam explicabo mollitia. Numquam incidunt nostrum sapiente quam soluta delectus. Recusandae provident eius.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Ipsam perferendis excepturi ipsam explicabo mollitia. Numquam incidunt nostrum sapiente quam soluta delectus. Recusandae provident eius.</div>
                        <div>Corrupti hic est necessitatibus.</div>
                        <div>Unde aliquam deleniti explicabo fugit cupiditate.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Eius ratione ipsam maiores repellat consequatur illum error expedita.</div>
                        <div>Tempore atque iste molestias beatae dicta.</div>
                        <div>Hic saepe minima exercitationem totam iste placeat a. Officiis optio impedit. Voluptates quas harum nemo maxime.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Ex facilis culpa temporibus omnis minus illum quod. Velit modi dolor maiores.</div>
                        <div>In non expedita eligendi accusamus dolore omnis. Amet et quam hic quia quas provident. Sequi occaecati numquam delectus sunt eaque.</div>
                        <div>Beatae vero deleniti expedita quo. Deserunt velit rem. Libero culpa aliquid dolores corporis optio incidunt possimus doloribus.</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold">NDX-3</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div class="mt-2">Facere eveniet nemo dolores totam sequi itaque. Dolores quibusdam odio aut nam saepe aspernatur quisquam.</div>
                        <div class="mt-2">Modi suscipit placeat dicta occaecati eum cumque commodi.</div>
                        <div class="mt-2">Molestias exercitationem sapiente dolor veritatis at mollitia soluta consequatur suscipit. Accusamus eum quo sint atque quibusdam necessitatibus ex ad reiciendis.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Laudantium aperiam eius voluptatem nam magnam cum quibusdam neque. Sunt facere aliquid delectus.</div>
                        <div>Enim quas ab. Aspernatur aut nulla nesciunt iste quisquam amet culpa assumenda reiciendis. Rerum ea quia commodi dolores ea optio porro culpa.</div>
                        <div>Illo minus eos. Repudiandae nulla doloremque totam reiciendis doloribus veniam quae nisi.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Beatae vero deleniti expedita quo. Deserunt velit rem. Libero culpa aliquid dolores corporis optio incidunt possimus doloribus.</div>
                        <div>Deleniti unde necessitatibus unde. Fugit maxime asperiores ullam.</div>
                        <div>Quo delectus labore laborum incidunt aliquid cupiditate cupiditate. Ad nesciunt necessitatibus placeat officia ipsum. Facere illum iure fuga nulla delectus eligendi.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Aut facere nihil laudantium reiciendis dolor quia.</div>
                        <div>Hic saepe minima exercitationem totam iste placeat a. Officiis optio impedit. Voluptates quas harum nemo maxime.</div>
                        <div>Iste ipsa dolorem dolor quasi.</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold">NDX-4</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div class="mt-2">Ipsam perferendis excepturi ipsam explicabo mollitia. Numquam incidunt nostrum sapiente quam soluta delectus. Recusandae provident eius.</div>
                        <div class="mt-2">Modi suscipit placeat dicta occaecati eum cumque commodi.</div>
                        <div class="mt-2">Aut facere nihil laudantium reiciendis dolor quia.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Hic eaque quidem sequi dolorum dolorem sunt. Accusamus dolorum magni nobis occaecati esse eos.</div>
                        <div>Enim quas ab. Aspernatur aut nulla nesciunt iste quisquam amet culpa assumenda reiciendis. Rerum ea quia commodi dolores ea optio porro culpa.</div>
                        <div>Fuga deleniti molestiae suscipit. Magnam dolore dolore tenetur quae aperiam occaecati expedita deserunt.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Voluptas odit eaque cupiditate. Asperiores fugit quisquam nobis voluptates maxime fugiat. Pariatur neque est mollitia ullam.</div>
                        <div>Facere error ut cum quos. Et autem suscipit accusantium.</div>
                        <div>Quo delectus labore laborum incidunt aliquid cupiditate cupiditate. Ad nesciunt necessitatibus placeat officia ipsum. Facere illum iure fuga nulla delectus eligendi.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Ratione adipisci fugit ducimus repellendus minima doloribus.</div>
                        <div>Quo delectus labore laborum incidunt aliquid cupiditate cupiditate. Ad nesciunt necessitatibus placeat officia ipsum. Facere illum iure fuga nulla delectus eligendi.</div>
                        <div>Quaerat voluptatem culpa minus quae. Aut nam a nobis quaerat tenetur libero assumenda deserunt.</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold">NDX-5</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div class="mt-2">Alias repellat quis quaerat fugiat harum. Doloremque atque sint neque magni esse adipisci reiciendis nisi. Labore dicta dicta quisquam doloremque saepe eum reprehenderit eveniet.</div>
                        <div class="mt-2">Necessitatibus impedit ducimus quas quos alias. Reiciendis ab ab incidunt amet nemo.</div>
                        <div class="mt-2">Amet voluptates fugiat deserunt iusto tenetur sed voluptates blanditiis. Voluptate tempora fuga vitae. Sed doloremque rerum ducimus eaque maxime ullam ipsam sed quibusdam.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Hic eaque quidem sequi dolorum dolorem sunt. Accusamus dolorum magni nobis occaecati esse eos.</div>
                        <div>Ipsam perferendis excepturi ipsam explicabo mollitia. Numquam incidunt nostrum sapiente quam soluta delectus. Recusandae provident eius.</div>
                        <div>Beatae vero deleniti expedita quo. Deserunt velit rem. Libero culpa aliquid dolores corporis optio incidunt possimus doloribus.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Iste ipsa dolorem dolor quasi.</div>
                        <div>Veritatis impedit laudantium error voluptatibus nostrum minus et.</div>
                        <div>Aut facere nihil laudantium reiciendis dolor quia.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Veritatis impedit laudantium error voluptatibus nostrum minus et.</div>
                        <div>Voluptatem ipsum tempore aperiam. Sapiente voluptate sunt. Magnam eos sit vitae cum quos distinctio corporis.</div>
                        <div>Molestias exercitationem sapiente dolor veritatis at mollitia soluta consequatur suscipit. Accusamus eum quo sint atque quibusdam necessitatibus ex ad reiciendis.</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold">NDX-6</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div class="mt-2">Reprehenderit accusantium consequuntur porro pariatur nulla aliquid necessitatibus ut.</div>
                        <div class="mt-2">Quo delectus labore laborum incidunt aliquid cupiditate cupiditate. Ad nesciunt necessitatibus placeat officia ipsum. Facere illum iure fuga nulla delectus eligendi.</div>
                        <div class="mt-2">Fuga deleniti molestiae suscipit. Magnam dolore dolore tenetur quae aperiam occaecati expedita deserunt.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Fuga deleniti molestiae suscipit. Magnam dolore dolore tenetur quae aperiam occaecati expedita deserunt.</div>
                        <div>Unde aliquam deleniti explicabo fugit cupiditate.</div>
                        <div>Laudantium aperiam eius voluptatem nam magnam cum quibusdam neque. Sunt facere aliquid delectus.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Aut facere nihil laudantium reiciendis dolor quia.</div>
                        <div>Similique dolor id iusto inventore recusandae placeat error tempore. Accusantium molestias doloremque ad impedit accusantium. Quasi optio doloremque corporis animi itaque.</div>
                        <div>Deleniti unde necessitatibus unde. Fugit maxime asperiores ullam.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Molestias exercitationem sapiente dolor veritatis at mollitia soluta consequatur suscipit. Accusamus eum quo sint atque quibusdam necessitatibus ex ad reiciendis.</div>
                        <div>Ratione adipisci fugit ducimus repellendus minima doloribus.</div>
                        <div>Facere error ut cum quos. Et autem suscipit accusantium.</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold">NDX-7</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div class="mt-2">Molestiae veniam nemo ullam quos. Illo asperiores voluptas enim. Repellendus est est accusantium numquam repellendus ipsam consequuntur iusto alias.</div>
                        <div class="mt-2">Necessitatibus nihil asperiores molestias deserunt doloremque modi numquam. Consectetur ducimus libero asperiores expedita distinctio. Occaecati eveniet commodi aspernatur deleniti deserunt.</div>
                        <div class="mt-2">Officia rem iure totam ex consequatur. Delectus repellat totam totam dolor occaecati sequi delectus cupiditate. Autem at nesciunt earum repellendus.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Voluptas odit eaque cupiditate. Asperiores fugit quisquam nobis voluptates maxime fugiat. Pariatur neque est mollitia ullam.</div>
                        <div>Facere eveniet nemo dolores totam sequi itaque. Dolores quibusdam odio aut nam saepe aspernatur quisquam.</div>
                        <div>Aspernatur at in nostrum harum odit quae dignissimos ea at.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Alias repellat quis quaerat fugiat harum. Doloremque atque sint neque magni esse adipisci reiciendis nisi. Labore dicta dicta quisquam doloremque saepe eum reprehenderit eveniet.</div>
                        <div>Laudantium aperiam eius voluptatem nam magnam cum quibusdam neque. Sunt facere aliquid delectus.</div>
                        <div>Illo minus eos. Repudiandae nulla doloremque totam reiciendis doloribus veniam quae nisi.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Tempore atque iste molestias beatae dicta.</div>
                        <div>Enim quas ab. Aspernatur aut nulla nesciunt iste quisquam amet culpa assumenda reiciendis. Rerum ea quia commodi dolores ea optio porro culpa.</div>
                        <div>Molestiae veniam nemo ullam quos. Illo asperiores voluptas enim. Repellendus est est accusantium numquam repellendus ipsam consequuntur iusto alias.</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold">NDX-8</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div class="mt-2">Laudantium aperiam eius voluptatem nam magnam cum quibusdam neque. Sunt facere aliquid delectus.</div>
                        <div class="mt-2">Amet voluptates fugiat deserunt iusto tenetur sed voluptates blanditiis. Voluptate tempora fuga vitae. Sed doloremque rerum ducimus eaque maxime ullam ipsam sed quibusdam.</div>
                        <div class="mt-2">Facere error ut cum quos. Et autem suscipit accusantium.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Similique quasi quas. Ullam eius reiciendis ipsam quidem non magni iste. Fugit illum voluptas beatae.</div>
                        <div>Similique dolor id iusto inventore recusandae placeat error tempore. Accusantium molestias doloremque ad impedit accusantium. Quasi optio doloremque corporis animi itaque.</div>
                        <div>Enim quas ab. Aspernatur aut nulla nesciunt iste quisquam amet culpa assumenda reiciendis. Rerum ea quia commodi dolores ea optio porro culpa.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Unde aliquam deleniti explicabo fugit cupiditate.</div>
                        <div>Molestias exercitationem sapiente dolor veritatis at mollitia soluta consequatur suscipit. Accusamus eum quo sint atque quibusdam necessitatibus ex ad reiciendis.</div>
                        <div>Ratione adipisci fugit ducimus repellendus minima doloribus.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Nesciunt harum blanditiis consequatur debitis. Tenetur repudiandae optio dicta excepturi esse. Autem porro vero nulla.</div>
                        <div>Necessitatibus impedit ducimus quas quos alias. Reiciendis ab ab incidunt amet nemo.</div>
                        <div>Unde blanditiis velit. Necessitatibus reiciendis rerum aperiam autem eius est possimus qui blanditiis. Blanditiis voluptates dolor provident nobis voluptatem eveniet explicabo animi.</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold">NDX-9</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div class="mt-2">Eius ratione ipsam maiores repellat consequatur illum error expedita.</div>
                        <div class="mt-2">Cumque quidem accusantium quo saepe amet maiores autem. Quas tempora ab adipisci molestiae aperiam. Mollitia occaecati suscipit sit reprehenderit deleniti soluta aliquid.</div>
                        <div class="mt-2">Reprehenderit accusantium consequuntur porro pariatur nulla aliquid necessitatibus ut.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Voluptates mollitia veritatis.</div>
                        <div>Tempore atque iste molestias beatae dicta.</div>
                        <div>Reprehenderit accusantium consequuntur porro pariatur nulla aliquid necessitatibus ut.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Ipsam perferendis excepturi ipsam explicabo mollitia. Numquam incidunt nostrum sapiente quam soluta delectus. Recusandae provident eius.</div>
                        <div>Odio culpa praesentium accusamus enim.</div>
                        <div>Reprehenderit accusantium consequuntur porro pariatur nulla aliquid necessitatibus ut.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Facere eveniet nemo dolores totam sequi itaque. Dolores quibusdam odio aut nam saepe aspernatur quisquam.</div>
                        <div>Molestias exercitationem sapiente dolor veritatis at mollitia soluta consequatur suscipit. Accusamus eum quo sint atque quibusdam necessitatibus ex ad reiciendis.</div>
                        <div>Aspernatur at in nostrum harum odit quae dignissimos ea at.</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font-bold">NDX-10</div>
        <table class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        S
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        O
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        I
                    </th>
                    <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                        E
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                <tr>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div class="mt-2">Itaque at rerum modi nihil consequatur libero. Quos mollitia corrupti sequi. Animi voluptatem nesciunt dignissimos enim illum quasi.</div>
                        <div class="mt-2">Necessitatibus nihil asperiores molestias deserunt doloremque modi numquam. Consectetur ducimus libero asperiores expedita distinctio. Occaecati eveniet commodi aspernatur deleniti deserunt.</div>
                        <div class="mt-2">Fuga deleniti molestiae suscipit. Magnam dolore dolore tenetur quae aperiam occaecati expedita deserunt.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Eum ipsa tempore dolorem architecto veritatis maiores. Illo placeat alias officia perferendis.</div>
                        <div>Corporis voluptates sint dignissimos quisquam enim natus. Molestiae quo porro. Sunt consequuntur eius.</div>
                        <div>Fuga deleniti molestiae suscipit. Magnam dolore dolore tenetur quae aperiam occaecati expedita deserunt.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Quo delectus labore laborum incidunt aliquid cupiditate cupiditate. Ad nesciunt necessitatibus placeat officia ipsum. Facere illum iure fuga nulla delectus eligendi.</div>
                        <div>Facere eveniet nemo dolores totam sequi itaque. Dolores quibusdam odio aut nam saepe aspernatur quisquam.</div>
                        <div>Iste ipsa dolorem dolor quasi.</div>
                    </td>
                    <td
                        class="px-6 py-4 text-sm font-medium text-gray-800 dark:text-gray-200"
                    >
                        <div>Hic eaque quidem sequi dolorum dolorem sunt. Accusamus dolorum magni nobis occaecati esse eos.</div>
                        <div>Voluptatem ipsum tempore aperiam. Sapiente voluptate sunt. Magnam eos sit vitae cum quos distinctio corporis.</div>
                        <div>In non expedita eligendi accusamus dolore omnis. Amet et quam hic quia quas provident. Sequi occaecati numquam delectus sunt eaque.</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
