<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./styles/style.css" />
    </head>
    <body>
        <div class="container mx-auto mt-4">
            <h1 class="text-3xl font-bold underline bg-red-300">
                Hello world!
            </h1>
            <div class="info">
                <p>Student: {{name}}</p>
                <p>OEN: {{oen}}</p>
                <p>Age: {{age}}</p>
                <p>Birthdate: {{birthdate}}</p>
                <p>Course: {{course}}</p>
            </div>
        </div>
    </body>
</html>
