@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Prompt';
    src: url('./fonts/Prompt-Bold.ttf');
    font-weight: 700;
}

* {
    font-family: Prompt, sans-serif;
}
